<h1>All mugs on rental</h1>

<div class="container">
  <% @mugs.each do |mug| %>
    <%= link_to(mug_path(mug.id), html_options = {}) do %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <%= mug.color %>
          <%= mug.size %>
          <%= mug.price_by_day %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
