// Specific CSS for your home-page

.home.banner {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0;
  background-image:
    linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url('https://images.unsplash.com/photo-1588253293138-ed5da9c55b12?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80');
  height: 100vh;

  h1 {
    margin: 0;
    margin-top: 1rem !important;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: 700;
    strong {
      color: #c08029;
    }
  }

  h3 {
    font-weight: 500;
    margin-top: 1rem !important;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  a {
    margin-top: 1rem !important;
  }
}

.home.row {
  margin-bottom: 50px;
  justify-content: center;
  h2 {
    margin: 2rem 0;
  }
}

.home.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.home.card-trip:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.home.card-trip {
  display: flex;
  flex-direction: column;

  .card-trip-infos {
    flex-grow: 1;
    align-items: flex-start;
  }
}

.home.row .card-trip-pricing {
  margin:0;
  align-self: flex-end;
}

.presentation-box {
  border: 1px solid rgba(0, 0, 0, 0.226);
  border-radius: 1rem;
  margin: 8px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
