.dashboard-container {
  border-radius: 8px;
  background-color: #e1e1e1;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dashboard h2 {
  border-bottom: 1px solid #c08029;
}

.dashboard .row {
  margin: 15px;
  padding: 15px;
}

.dashboard-cards{
  margin: 24px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.dashboard-wrapper .card-trip-infos {
  display: block;
}

.dashboard-resa{
  margin: 24px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}
.dashboard-rental {
  margin: 24px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.dashboard-infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.dashboard.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  opacity: 0.9;
}

.dashboard.card-product .card-product-infos {
  padding-left: 50px;
  display: grid;
}

.dashboard.card-trip {
  background: white;
  position: relative;
}

.dashboard.card-trip-infos {
  position:unset;
}

.dashboard.card-trip .card-product-infos {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.status {
  background-color: #fdf6e4;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  top: 5px;
  right: 5px;
}

.booking-response {
  position: absolute;
  top: 5px;
  left: 5px;
  display: row;
  .accept {
    background-color: #2e8fcf;
    padding: 5px;
    border-radius: 4px;
    color: white;
  }

  .refuse {
    background-color: #bd3030;
    padding: 5px;
    border-radius: 4px;
    color: white;
  }
}

// Style des tabs de navigation

.list-inline {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  li {
    background-color: coral;
    padding: 5px 15px;
    border-radius: 5px;
    a.active {
      border-bottom: 3px solid rgba(0, 0, 0, 0.5);
      &:hover {
        border-bottom: 3px solid rgba(0, 0, 0, 0.2)
      }
    }
  }
}

.content {
  display: none;
  &.active {
    display: block;
  }
}
