.mug-row {
  padding-top: 32px;
}

.mug-desc{
  margin-top: 32px;
  padding : 16px;
  background-color: rgb(255, 255, 255);
}

.mug-info {
  padding: 16px;
  background-color: rgb(255, 255, 255);
}

.mug-booking-btn {
  position: absolute;
  right: 8px;
  background-color:rgb(211, 164, 8);
  border-radius: 5px;
  margin:8px;
}
