<div class="banner">
  <div class="container">
    <h1>Mug Rent - Le réconfort d'un bon café dans le <strong><i class="fas fa-coffee"></i></strong> de ses <strong>rêves</strong> !</h1>
    <p>Parce que boire n'est jamais anecdotique.</p>
    <a class="btn btn-flat" href="#">Inscris toi   <i class="fas fa-mug-hot"></i></a>
    <a class="btn btn-gradient" href="#">Connexion   <i class="fas fa-glass-cheers"></i></a>
  </div>
</div>

<div class="container">
  <div class="row col-12">
    <div class="">
      <h2>Le café est toujours meilleur dans la tasse des autres</h2>
      <p>
      A tous ceux qui sont des obsessionnels de l'oubli, des imprudents notoires, des victimes des vols de tasses, des maladroits
      compulsifs sans oubliés les potomanes, nous avons pour vous un message d'espoir :
      <span>nous vous permettons d'avoir toujours un Mug à portée de main</span>
      </p>
    </div>

  </div>
</div>
