<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Mug Rent c'est la <strong>chaleur</strong> d'un bon café dans le mug de ses <strong>rêves</strong> !</h1>
    <p>Garde la pêche en ayant toujours avec toi le Mug qui te réussit.</p>
    <a class="btn btn-flat" href="#">Inscris toi</a>
  </div>
</div>
