.dashboard {
    border-radius: 16px;
    background-color: #ebebeb;
}

.dashboard h2 {
  border-bottom: 1px solid #c08029;
}

.dashboard .row {
  margin: 15px;
  padding: 15px;
}

.dashboard .wrapper{
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.dashboard .wrapper .card-trip-infos {
  display: block;
}
