.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  padding: 0.5rem;
  padding-bottom: 0;
}

.fa-mug-hot {
  margin: 0.5rem;
  margin-left: 1rem;
}

.link-mug {
  margin: 0.2em
}
