// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/font_awesome";
@import "mugs/index";
@import "mugs/new";
@import "mugs/show";
@import "pages/index";
@import "dashboard/show";

// Gobal
a {
  text-decoration: none;
  color: rgb(41, 41, 41);
}

a:hover {
  text-decoration: none;
  color: rgb(124, 124, 124);
}
